* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-color: var(--color-gray) transparent !important;
}

body {
  background: linear-gradient(rgb(22, 22, 29) 0%,
      rgb(31, 31, 58) 35%,
      rgb(59, 47, 74) 71%,
      rgb(84, 62, 110) 100%);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  --color-primary: rgb(134, 203, 146);
  --color-gray: #424242;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

h1 {
  font-size: 6rem;
  text-align: center;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

iframe {
  border: none;
}

/* Style Leaflet */
.leaflet-container {
  background: inherit !important;
  user-select: none;

  .leaflet-zoom-anim {
    transition: none !important;
  }

  .leaflet-top .leaflet-control {
    margin-top: 4rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out {
      background-color: rgb(34, 34, 34);
      color: white;
    }

    .leaflet-control-zoom-in {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 8px 8px 0 0;
    }

    .leaflet-control-zoom-out {
      border-radius: 0 0 8px 8px;
    }
  }

  .leaflet-tooltip {
    padding: 2px;
  }

  .leaflet-popup-content {
    width: inherit !important;
  }


  .leaflet-marker-icon {
    background: transparent;
    border: none;

    .icon-wrapper {
      position: relative;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon-marker {
        height: 100%;
        width: 100%;
      }

      svg:not(.icon-marker) {
        position: absolute;
        width: 20px;
        height: 20px;
        fill: black;
        top: 3px;
      }
    }
  }
}